body {
  background-color: white;
  display: flex;
  justify-content: center;
}

.tempApp {
  display: flex;
  height: 300px;
  width: 500px;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
  align-items: center;
  justify-content: center;
}

#tempInput {
}